@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
  font-family: 'Work Sans', sans-serif;
}

p {
  text-indent: 30px;
}

.bg-custom {
  background-color: #1b4965;
}

.navbar {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.navbar-brand {
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
}

.logo-svg {
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(240deg) brightness(106%) contrast(101%);
}

.nav-link {
  color: white !important;
}

.fx-underline {
  position: relative;
}

.fx-underline::before {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 2px;
  right: 0;
  display: block;
  width: 95%;
  height: 1px;
  background-color: #fff;
  transform: scaleX(0%);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.fx-underline::before {
  transform-origin: 100% 0;
}

.fx-underline:hover::before {
  transform: scaleX(100%);
  transform-origin: 0 0;
}

.big-icons {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #1b4965;
  font-size: 50px;
}

.container {
  margin-top: 60px;
  margin-bottom: 60px;
}

#footer {
  margin-top: 0px;
  margin-bottom: 0px;
}

.auth-container {
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 300px;
}

header {
  position: relative;
  background-color: black;
  height: 95vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.35;
  z-index: 1;
}

#btn-back-to-top {
  z-index: 99;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}