<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Rocketry : {% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" href="../static/img/icon.svg"/>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/d40a8bf739.js" crossorigin="anonymous"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="../static/index.css">
        <link rel="stylesheet" href="../static/hover.css">
    </head>

    <body>
        <header>
            <div class="row justify-content-md-center">
                <div class="col col-lg-3">
                    <a href="/" class="logo hvr-grow">ROCKETRY<i class="fas fa-meteor"></i></a>
                </div>
                <div class="col-md-auto">
                    <a href="/" class="shape-0"><i class="fas fa-home"></i> Início</a>
                    <a href="/escola" class="shape-0"><i class="fas fa-book"></i> Atividades</a>
                </div>
                <div class="col col-lg-3">
                    {% if user.is_authenticated %}
                    <a href="/logout" class="shape-0">Sair</a>
                    {% else %}
                    <a href="/login" class="shape-0">Entrar</a>
                    <a href="/sign_up" class="shape-0">Registrar-se</a>
                    {% endif %}
                </div>
            </div>
        </header>

        {% with messages = get_flashed_messages(with_categories=true)  %}

        {% if messages %}
            {% for categoty,  message in messages %}
            {% if categoty == 'error' %}
                <div class="alert alert-danger alter-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% else %}
                <div class="alert alert-success alter-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            {% endfor %}
        {% endif %}
        
        {% endwith %}

        <main>
            {% block main %}

            {% endblock %}
        </main>



        <footer>
            <div class="top-footer-wrapper">
                <div>
                    <div><h6>Contato</h6></div><hr>
                    <div>E-mail: contato@denisianhaki.tk</div>
                    <div>Telefone: +00 00000000</div><br><br>
                </div>
                <div>
                   <div><h6>Saiba mais</h6></div><hr>
                   <div><a href="">Sala de Imprensa</a></div>
                   <div><a href="">Diário</a></div><br><br>
                </div>
                <div>
                  <div><h6>Teste</h6></div><hr>
                  <div><a href="">Teste</a></div><br><br>
               </div>
                <div>
                    <div><h6>Carteiras</h6></div><hr>
                    <div><a href="">Bitcoin    <i class="fab fa-bitcoin"></i></a></div>
                    <div><a href="">Ethereum   <i class="fab fa-ethereum"></i></a></div>
                </div>
            </div>

            <hr>

            <div class="container">
                <div class="row justify-content-around">
                  <div class="col-2">
                    <i class="fab fa-github"></i>
                  </div>
                  <div class="col-2">
                    <i class="fab fa-twitter"></i>
                  </div>
                  <div class="col-2">
                    <i class="fab fa-linkedin-in"></i>
                  </div>
                  <div class="col-2">
                    <i class="fab fa-youtube"></i>
                  </div>
                  <div class="col-2">
                    <i class="fab fa-reddit"></i>
                  </div>
                  
                </div>
            </div>
              <hr>

              <div class="container">
                <div class="row justify-content-around">
                  <div class="col-2">
                    <a href=""><i class="fas fa-lock"></i> Política de privacidade</a>
                  </div>
                  <div class="col-2">
                    <div><a href=""><i class="fas fa-sitemap"></i> Site map</a></div>
                  </div>
                  <div class="col-2">
                    <div><i class="far fa-copyright"></i> Alguns direitos reservados.</div>
                  </div>
                </div><br>
            </div>
            
        </footer>

        <script 
            type="text/javascript"
            src="{{ url_for('static', filename='index.js') }}"
        ></script>
    </body>
</html>