{% extends "base.html" %}
<title>{% block title %}Escola{% endblock %}</title>

<main>
    {% block main %}
    <div style="text-align: center;">
        <h2>Ingredientes do bolo</h2>

        <input type="text" id="ingredientes" class="form-control"> <br>

        <button onclick="adicionarIngrediente()" class="btn btn-primary">Adicionar</button>

        <ul class="list-group" id="lista">

        </ul>

        <br><br><br>

        <h2>Soma números</h2>
        <div class="input-group">
          <input type="text" class="form-control" name="campo1" id="campo1"><h2>+</h2>
          <input type="text" class="form-control" name="campo2" id="campo2">
        </div> <br>

        <button onclick="soma()" class="btn btn-primary">Somar</button><br><br>
        <h5>Resultado:</h5>
        <div id="total"></div>
    </div>

    <br><br><br>

    {% endblock %}
</main>