{% extends "base.html" %}
<title>{% block title %}Home{% endblock %}</title>

<main>
    {% block main %}

    <div class="header">

      <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
      <div class="overlay"></div>

      <!-- The HTML5 video element that will create the background video on the header -->
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="static/video/Raptor Engine Firing.mp4" type="video/mp4">
      </video>

      <!-- The header content -->
      <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
          <div class="w-100 text-white">
            <h1 class="display-5">Motores de foguete</h1><br>
            <p class="lead mb-0">Os motores de foguete são motores de reação, produzindo empuxo ejetando massa para trás, de acordo com a terceira lei de Newton. A maioria dos motores de foguete usam a combustão de produtos químicos reativos para fornecer a energia necessária, mas também existem formas não inflamáveis, como propulsores de gás frio e foguetes térmicos nucleares. Os veículos movidos por motores de foguete são comumente chamados de foguetes. Os veículos-foguete carregam seu próprio oxidante, ao contrário da maioria dos motores de combustão, então os motores-foguete podem ser usados ​​no vácuo para impulsionar espaçonaves e mísseis balísticos.</p>
          </div>
        </div>
      </div>
    </div>

  <div class="container">

    <div class="engine-info">
      <div class="row">
        <div class="col-lg-5">
          <img src="static/img/raptor1.jpg" width="100%">
        </div>
        <div class="col-lg-7">
          <h1>SpaceX Raptor</h1><hr>
          <h4>Raptor</h4><p>Raptor é uma família de motores de foguetes de ciclo de combustão em estágio completo desenvolvidos e fabricados pela SpaceX para uso na Starship. O motor é alimentado por metano líquido criogênico e oxigênio líquido (LOX), chamado methalox, em vez do querosene RP-1 e LOX, chamado de querolox, usado nos motores anteriores de merlin e kestrel da SpaceX. O motor Raptor tem mais que o dobro do empuxo do motor Merlin da SpaceX que alimenta seus veículos de lançamento Falcon 9 e Falcon Heavy.</p>
          <p>Raptor é usado no sistema Starship tanto no Super Heavy booster quanto na espaçonave Starship que atua como o segundo estágio quando lançado da Terra e como uma nave independente em LEO e além. A Starship está planejada para ser usada em várias aplicações, incluindo a entrega de satélites em órbita da Terra, a implantação de uma grande parte da constelação de satélites Starlink da SpaceX, exploração, pouso na Lua e colonização de Marte.</p>

          <h4>Produção</h4><p>Em julho de 2021, a SpaceX anunciou que construiria uma segunda instalação de produção para motores Raptor, esta no sul do Texas, perto da instalação de teste de motores de foguetes existentes. O Dallas Morning News informou em julho que a SpaceX "abrirá caminho em breve" e que a instalação se concentrará na produção em série do Raptor 2, enquanto a instalação da Califórnia produzirá o Raptor Vacuum e novos/experimentais projetos raptor. Espera-se que a nova instalação produza de 800 a 1000 motores de foguetes por ano. A SpaceX visa uma vida útil de 1000 voos para a Raptor.
          <a href="https://en.wikipedia.org/wiki/SpaceX_Raptor">Fonte Wikipedia.<a></p>
      </div>
    </div>
</div>
</main>
    {% endblock %}