{% extends "base.html" %}
<title>{% block title %}Propellants{% endblock %}</title>

{% block main %}
    <div class="jumbotron jumbotron-fluid jumbo-propellants text-white">
        <div class="container text-center" data-aos="zoom-out">
            <h1 class="display-4">Rocket propellants</h1>
            <span class="lead">A quick introduction to propellants. its ingredients, advantages and disadvantages.</span>
        </div>
    </div>

    <div class="container">
        <div class="container"><h2 class="text-center display-6">Most common fuels and oxidizers</h2></div>
        
        <div class="card-group text-justify">
            <div class="card">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Liquid_Oxygen_%28LOX%29_ball_at_the_CCAFS_SLC-40.jpg/657px-Liquid_Oxygen_%28LOX%29_ball_at_the_CCAFS_SLC-40.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Liquid oxygen</h5>
                <p class="card-text">Liquid oxygen is the most common cryogenic liquid oxidizer propellant for spacecraft rocket applications, usually in combination with liquid hydrogen, kerosene or methane.</p>
                <p>
                  Liquid oxygen was used in the first liquid fueled rocket. The World War II V-2 missile also used liquid oxygen under the name A-Stoff and Sauerstoff. In the 1950s, during the Cold War both the United States' Redstone and Atlas rockets, and the Soviet R-7 Semyorka used liquid oxygen. Later, in the 1960s and 1970s, the ascent stages of the Apollo Saturn rockets, and the Space Shuttle main engines used liquid oxygen.
                </p>
                <p class="card-text"><small class="text-muted">Last updated 12/11/2021</small></p>
              </div>
            </div>
            <div class="card">

            </div>
            <div class="card">

            </div>
          </div>
    </div>

{% endblock %}