{% extends "base.html" %}
<title>{% block title %}Propellants{% endblock %}</title>

{% block main %}
    <div class="jumbotron jumbotron-fluid jumbo-propellants text-white">
        <div class="container text-center" data-aos="zoom-out">
            <h1 class="display-4">Rocket propellants</h1>
            <span class="lead">A quick introduction to propellants. its ingredients, advantages and disadvantages.</span>
        </div>
    </div>

    <div class="container">
        
        <div class="card-group text-justify">
            <div class="card">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Liquid_Oxygen_%28LOX%29_ball_at_the_CCAFS_SLC-40.jpg/657px-Liquid_Oxygen_%28LOX%29_ball_at_the_CCAFS_SLC-40.jpg" class="card-img-top" alt="..." height="300px">
              <div class="card-body">
                <h5 class="card-title">Liquid oxygen</h5>
                <p class="card-text">Liquid oxygen is the most common cryogenic liquid oxidizer propellant for spacecraft rocket applications, usually in combination with liquid hydrogen, kerosene or methane.</p>
                <p>
                  Liquid oxygen was used in the first liquid fueled rocket. The World War II V-2 missile also used liquid oxygen under the name A-Stoff and Sauerstoff. In the 1950s, during the Cold War both the United States' Redstone and Atlas rockets, and the Soviet R-7 Semyorka used liquid oxygen. Later, in the 1960s and 1970s, the ascent stages of the Apollo Saturn rockets, and the Space Shuttle main engines used liquid oxygen.
                </p>
              </div>
            </div>
            <div class="card">
              <img src="https://media.defense.gov/2019/May/24/2002136063/-1/-1/0/171214-D-YE683-100.JPG" class="card-img-top" alt="..." height="300px">
              <div class="card-body">
                <h5 class="card-title">Hydrazine</h5>
                <p class="card-text">The majority use of hydrazine is as a precursor to blowing agents. Specific compounds include azodicarbonamide and azobisisobutyronitrile, which produce 100–200 mL of gas per gram of precursor. In a related application, sodium azide, the gas-forming agent in air bags, is produced from hydrazine by reaction with sodium nitrite.</p>
                <p>Hydrazine is also used as a long-term storable propellant on board space vehicles, such as the Dawn mission to Ceres and Vesta, and to both reduce the concentration of dissolved oxygen in and control pH of water used in large industrial boilers.</p>
              </div>
            </div>
            <div class="card">
              <img src="https://images.squarespace-cdn.com/content/v1/59778b2ae58c626d8562c154/1597786186980-6XBBTT19710ZQUDR5UHG/1200px-RP-1_.jpg?format=750w" class="card-img-top" alt="..." height="300px">
              <div class="card-body">
                <h5 class="card-title">Refined Petroleum-1 (RP-1)</h5>
                <p class="card-text">RP-1 (alternatively, Rocket Propellant-1 or Refined Petroleum-1) is a highly refined form of kerosene outwardly similar to jet fuel, used as rocket fuel. RP-1 provides a lower specific impulse than liquid hydrogen (LH2), but is cheaper, is stable at room temperature, and presents a lower explosion hazard. RP-1 is far denser than LH2, giving it a higher energy density (though its specific energy is lower). RP-1 also has a fraction of the toxicity and carcinogenic hazards of hydrazine, another room-temperature liquid fuel.</p>
              </div>
            </div>
          </div>
    </div>

{% endblock %}